{% extends 'index.html' %}

{% block contenidoQueCambia %}
    <div class="list-container">
        <div class="list" style="float: right;">
            <h3>Reservar Película</h3>
            <form action="{% url 'FormularioReserva' %}" method="post">
                {% csrf_token %}
                {{ miFormulario2.as_p }}
                <button type="submit">Reservar</button>
            </form>
        </div>
        <div class="list">
            <h3>Lista de Clientes</h3>
            {% include 'lista_clientes.html' %}
        </div>
        <div class="list">
            <h3>Lista de Películas</h3>
            {% include 'lista_peliculas.html' %}
        </div>
    </div>
{% endblock contenidoQueCambia %}
